/* 

Основні налаштування на сторінці:


-Основний колір тексту сторінки: #212121;
-Другорядний колір тексту сторінки: #757575;
-Білий колір тексту: #FFFFFF;
-Синій колір тексту та кнопок: #2196F3;

-Основний колір фону <header>: #ffffff;
-Основний колір фону сторінки: #f5f5f5;
-Другорядний колір фону сторінки: #F5F4FA;
-Основний темний колір фону <footer>: #2F303A;

-Осноинй шрифт сторінки: Roboto;
-Другорядний шрифт сторінки: Raleway;

*/

:root {
  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-grey-color: #2f303a;
}

/* 
-
-
-
 */
.temporary-box {
  height: 300px;
  background-color: tomato;
}
/* 
-
-
-
 */

/* Налаштування логотипу */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000000;
}

.logo-blue {
  color: #2196f3;
}

.logo.lower {
  color: var(--white-color);
}

/* Налаштування основних позицій */

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 4px solid blue; */
}

/* Налаштування <header> */

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.navigation.container,
.main-navigation,
.navigation.list,
.contacts-wrapper,
.features.list {
  display: flex;
}

.logo.upper {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-link,
.navigation-contacts {
  text-decoration: none;
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link {
  color: inherit;
}

.contacts-wrapper {
  margin-left: auto;
}

.navigation-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
}

.navigation-contacts:not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-contacts:hover,
.navigation-contacts:focus,
.address:hover,
.address:focus {
  color: var(--blue-color);
}

/* Налаштування <footer> */
.footer {
  background-color: var(--dark-grey-color);
}

.address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Налаштування <main> для index.html */

/* Секція Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--dark-grey-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: var(--black-font-weight);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  padding: 10px 32px;
  border-width: 0;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--blue-color);
}

.hero-button:hover {
  cursor: pointer;
}

/* Налаштування секції "Переваги" */
.section-caption {
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.transparent {
  color: rgba(0, 0, 0, 0.2);
}

.features-title {
  margin-bottom: 10px;

  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Налаштування секції "Про команду" */
.section-team {
  background-color: var(--secondary-background-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Налаштування <main> сторінки "Портфоліо" */
.portfolio.section {
  background-color: var(--primary-background-color);
}

.filter-button {
  font-family: inherit;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  color: inherit;
  background-color: var(--secondary-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
}

.project-name {
  font-weight: var(--bold-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Розмітка геометрії сторінки */

/* 
Ширина контернту в контейнері: 1170пх
Базові паддинги ліворуч і праворуч: 15пх
*/

/* Загальні налаштування */
/* 
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 4px solid blue;
}

.section-caption {
  width: fit-content;
  margin: 0 auto;
}

Секція Хедер */
/* header {
  background-color: skyblue;
}
header {
  border-bottom: 1px solid var(--secondary-background-color);
}

.navigation.container {
  display: flex;
  align-items: center;
  min-height: 80px;
}

.navigation-block {
  display: flex;
  align-items: center;

  outline: 2px solid tomato;
}

.navigation.list {
  display: flex;

  outline: 2px solid sandybrown;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.logo.upper {
  margin-right: 93px;
}

.contacts-wrapper {
  margin-left: auto;
}

.navigation-contacts:not(:last-child) {
  margin-right: 50px;
}

Сукція "Герой"
.hero {
  padding: 200px 452px;

  outline: 4px solid tomato;
}

.hero-title {
  margin-bottom: 30px;

  outline: 4px solid teal;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
}

Секція "Переваги"

.section-caption.transparent {
  color: transparent;
  width: fit-content;
  margin: 0 auto;

  outline: 4px solid pink;
}

.features-title,
.team-name {
  margin-bottom: 10px;
}

.features-description {
  width: 270px;
}

.features.list,
.practice.list,
.team.list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  background-color: aqua;
}

Секція "Про команду"
.team-image,
.portfolio-image {
  display: block;
}

.team-imag e {
  margin-bottom: 30px;
}

.team-item {
  width: 270px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

.team-position {
  margin-bottom: 30px;
}

Секція футер

.footer {
  padding: 60px 215px;
}

.logo.lower {
  display: block;
  margin-bottom: 20px;
  width: fit-content;

  outline: 4px solid magenta;
}

.list-address:not(:last-child) {
  margin-bottom: 9px;
}

Геометрія для Портфоліо

.section-portfolio {
  background-color: rgb(235, 215, 135);
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
}

.filter-button:focus,
.filter-button:hover {
  padding: 6px 25px;
}

.filter {
  margin-bottom: 50px;
}

.filter.list {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

Список Портфоліо

.portfolio.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: 370px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border: 1px solid var(--secondary-background-color);

  background-color: skyblue;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-image {
  margin-bottom: 20px;
}

.project-name {
  width: 322px;
  margin: 0 auto 4px;

  outline: 4px solid green;
}

.project-type {
  width: 322px;
  margin: 0 auto;

  outline: 4px solid yellow;
} */
